@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #9900ff, #cc80ff);
    font-family: 'Roboto', sans-serif;
}

.gif-title {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 3rem;
    letter-spacing: 10px;
    color: #ffffff;
    padding: 20px;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    transition: 1s ease-in-out;
    animation: move 20s linear infinite;
}

h1:hover {
    color: transparent;
}

@keyframes move {
    0% {
        background-position: -1000px 0;
    }
    50%,
    100% {
        background-position: 1000px 0;
    }
    100% {
        background-position: -1000px 0;
    }
}

@keyframes translate {
    from {
        transform: translateX(-10px);
    }
    to {
        transform: translateX(10px);
    }
}

header {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-bottom: 10px;
}

.App {
    text-align: center;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 10px auto;
}

.App-link {
    color: #61dafb;
}

.gif-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 5px;
}

div.gif-card {
    flex: 1 1 300px;
    margin: 5px;
}

h1.gif-title-h1 {
    font-size: 2rem;
    text-transform: capitalize;
}

a,
img {
    cursor: pointer;
}

img {
    width: 100%;
    object-fit: cover;
}

img.svg {
    width: 50px;
}

.pagination {
    padding: 20px;
}

summary:focus {
    outline: 0;
}

details[open] summary {
    padding: 5px;
    transition: 1s ease-in-out;
}

.gif-search {
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin: 16px auto;
}

.gif-search input {
    outline: none;
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 1.1rem;
    max-width: 100%;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.98);
}

.gif-search img {
    object-fit: cover;
    padding: 0 5px;
    animation: enter 3s linear infinite;
}

button {
    outline: none;
    transition: transform .6s ease-in-out;
}

.gif-btn-submit {
    border: none;
    background: transparent;
}

.gif-btn-trending {
    cursor: pointer;
    border: black;
    margin: 0 10px;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: bold;
}

div.gif-trend-search {
    width: 350px;
    margin: 20px auto;
}

div.gif-trend-search ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@keyframes enter {
    0% {
        transform: translateX(-5px)
    }
    50%,
    100% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-5px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}